{% extends 'base.html.twig' %}

{% block title %}Artiste{% endblock %}

{% block body %}
    <h1>Artiste</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ artiste.id }}</td>
            </tr>
            <tr>
                <th>NomArtiste</th>
                <td>{{ artiste.nomArtiste }}</td>
            </tr>
            <tr>
                <th>PrenomArtiste</th>
                <td>{{ artiste.prenomArtiste }}</td>
            </tr>
            <tr>
                <th>RoleArtiste</th>
                <td>{{ artiste.roleArtiste }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_artiste_index') }}">back to list</a>

    <a href="{{ path('app_artiste_edit', {'id': artiste.id}) }}">edit</a>

    {{ include('artiste/_delete_form.html.twig') }}
{% endblock %}
