{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}
    <h1>Client</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>NomClient</th>
                <td>{{ client.nomClient }}</td>
            </tr>
            <tr>
                <th>PrenomClient</th>
                <td>{{ client.prenomClient }}</td>
            </tr>
            <tr>
                <th>DateReservation</th>
                <td>{{ client.dateReservation ? client.dateReservation|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_client_index') }}">back to list</a>

    <a href="{{ path('app_client_edit', {'id': client.id}) }}">edit</a>

    {{ include('client/_delete_form.html.twig') }}
{% endblock %}
